<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../scripts/style.css">
    <link rel="stylesheet" href="../scripts/lightbox.css">




    <title>Patti Dyason Art</title>
</head>

<body>
    <section class="navigation">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="../index.html">Patti Dyason Art</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Information</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    <section class="title">
        <div class="container">
            <div class="row text-center mb-3">
                <h1 class="w-100">Shop</h1>
            </div>
            <div class="row mb-5">
                <div class="line"></div>
            </div>
        </div>
    </section>

    <button id="test">Test</button>
    <a href=painting.php?id=1>test</a>

    <section class="shop">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <a href="../images/large/churchhaven.jpg" data-lightbox="gallery" data-title="Churchhaven">
                        <img src="../images/churchhaven.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Churchhaven</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/vineyard.jpg" data-lightbox="gallery" data-title="Vineyard">
                        <img src="../images/vineyard.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Vineyard</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/grape-pickers-with-baskets.jpg" data-lightbox="gallery" data-title="Grape Pickers with Baskets">
                        <img src="../images/grape-pickers-with-baskets.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Grape Pickers with Baskets</em></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="../images/large/ducks-and-broken-house.jpg" data-lightbox="gallery" data-title="Ducks and Broken House">
                        <img src="../images/ducks-and-broken-house.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Ducks and Broken House</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/garden-and-steps.jpg" data-lightbox="gallery" data-title="Garden and Steps">
                        <img src="../images/garden-and-steps.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Garden and Steps</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/dog-on-bed.jpg" data-lightbox="gallery" data-title="Dog on Bed">
                        <img src="../images/dog-on-bed.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Dog on Bed</em></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="../images/large/harbour-with-orange-sky.jpg" data-lightbox="gallery" data-title="Harbour with Orange Sky">
                        <img src="../images/harbour-with-orange-sky.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Harbour with Orange Sky</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/helicopters-fighting-fire.jpg" data-lightbox="gallery" data-title="Helicopters Fighting Fire">
                        <img src="../images/helicopters-fighting-fire.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Helicopters Fighting Fire</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/hiker.jpg" data-lightbox="gallery" data-title="Hiker">
                        <img src="../images/hiker.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Hiker</em></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="../images/large/winding-river.jpg" data-lightbox="gallery" data-title="Winding River">
                        <img src="../images/winding-river.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Winding River</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/people-at-rockpools.jpg" data-lightbox="gallery" data-title="People at Rockpools">
                        <img src="../images/people-at-rockpools.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>People at Rockpools</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/pier-on-stony-beach.jpg" data-lightbox="gallery" data-title="Pier on Stony Beach">
                        <img src="../images/pier-on-stony-beach.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Pier on Stony Beach</em></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="../images/large/seagull-and-beach.jpg" data-lightbox="gallery" data-title="Seagull and Beach">
                        <img src="../images/seagull-and-beach.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Seagull and Beach</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/three-musicians.jpg" data-lightbox="gallery" data-title="Three Musicians">
                        <img src="../images/three-musicians.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Three Musicians</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/the-windy-sea.jpg" data-lightbox="gallery" data-title="The Windy Sea">
                        <img src="../images/the-windy-sea.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>The Windy Sea</em></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="../images/large/three-grape-pickers.jpg" data-lightbox="gallery" data-title="Three Grape Pickers">
                        <img src="../images/three-grape-pickers.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Three Grape Pickers</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/the-grape-pickers.jpg" data-lightbox="gallery" data-title="The Grape Pickers">
                        <img src="../images/the-grape-pickers.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>The Grape Pickers</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/three-windsurfers.jpg" data-lightbox="gallery" data-title="Three Windsurfers">
                        <img src="../images/three-windsurfers.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Three Windsurfers</em></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="../images/large/lady-with-book.jpg" data-lightbox="gallery" data-title="Lady with Book">
                        <img src="../images/lady-with-book.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Lady with Book</em></p>
                </div>

                <div class="col-sm-3">
                    <a href="../images/large/lady-with-glass.jpg" data-lightbox="gallery" data-title="Lady with Glass">
                        <img src="../images/lady-with-glass.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Lady with Glass</em></p>
                </div>
                <div class="col-sm-3">
                    <a href="../images/large/sun-on-water.jpg" data-lightbox="gallery" data-title="Sun on Water">
                        <img src="../images/sun-on-water.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Sun on Water</em></p>
                </div>
                <div class="col-sm-3">
                    <a href="../images/large/woman-with-mielies-on-head.jpg" data-lightbox="gallery" data-title="Woman with Mielies on Head">
                        <img src="../images/woman-with-mielies-on-head.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Woman with Mielies on Head</em></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="../images/large/the-cliff.jpg" data-lightbox="gallery" data-title="The Cliff">
                        <img src="../images/the-cliff.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>The Cliff</em></p>
                </div>
                <div class="col-sm-3">
                    <a href="../images/large/the-grape-picker.jpg" data-lightbox="gallery" data-title="The Grape Picker">
                        <img src="../images/the-grape-picker.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>The Grape Picker</em></p>
                </div>
                <div class="col-sm-3">
                    <a href="../images/large/the-mosque.jpg" data-lightbox="gallery" data-title="The Mosque">
                        <img src="../images/the-mosque.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>The Mosque</em></p>
                </div>
                <div class="col-sm-3">
                    <a href="../images/large/cat-on-chair.jpg" data-lightbox="gallery" data-title="Cat on Chair">
                        <img src="../images/cat-on-chair.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Cat on Chair</em></p>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="../images/large/lady-reading-book.jpg" data-lightbox="gallery" data-title="Lady Reading Book">
                        <img src="../images/lady-reading-book.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Lady Reading Book</em></p>
                </div>
                <div class="col-sm-3">
                    <a href="../images/large/violinist-and-other-musician.jpg" data-lightbox="gallery" data-title="Violinist and Other Musician">
                        <img src="../images/violinist-and-other-musician.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Violinist and Other Musician</em></p>
                </div>
                <div class="col-sm-3">
                    <a href="../images/large/boy-with-birds.jpg" data-lightbox="gallery" data-title="Boy with Birds">
                        <img src="../images/boy-with-birds.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Boy with Birds</em></p>
                </div>

                <div class="col-sm-3">
                    <a href="../images/large/children-picking-flowers.jpg" data-lightbox="gallery" data-title="Children Picking Flowers">
                        <img src="../images/children-picking-flowers.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Children Picking Flowers</em></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="../images/large/mother-and-child-at-beach.jpg" data-lightbox="gallery" data-title="Mother and Child at Beach">
                        <img src="../images/mother-and-child-at-beach.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Mother and Child at Beach</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/the-canyon.jpg" data-lightbox="gallery" data-title="The Canyon">
                        <img src="../images/the-canyon.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>The Canyon</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/chairs-on-beach.jpg" data-lightbox="gallery" data-title="Chairs on Beach">
                        <img src="../images/chairs-on-beach.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Chairs on Beach</em></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="../images/large/river-through-grass.jpg" data-lightbox="gallery" data-title="River Through Grass">
                        <img src="../images/river-through-grass.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>River Through Grass</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/river-in-canyon.jpg" data-lightbox="gallery" data-title="River in Canyon">
                        <img src="../images/river-in-canyon.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>River in Canyon</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/the-kramat.jpg" data-lightbox="gallery" data-title="The Kramat">
                        <img src="../images/the-kramat.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>The Kramat</em></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="../images/large/the-flower-seller.jpg" data-lightbox="gallery" data-title="The Flower Seller">
                        <img src="../images/the-flower-seller.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>The Flower Seller</em></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="../images/large/the-sea.jpg" data-lightbox="gallery" data-title="The Sea">
                        <img src="../images/the-sea.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>The Sea</em></p>
                </div>
                <div class="col-sm-4">
                    <a href="../images/large/birds-over-river.jpg" data-lightbox="gallery" data-title="Birds over River">
                        <img src="../images/birds-over-river.jpg" width=100%>
                    </a>
                    <p class="text-center"><em>Birds over River</em></p>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section class="footer">
        <div class="container">
            <div class="row">
                <p class="copyright text-center w-100">© 2018 Patti Dyason</p>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../scripts/lightbox-plus-jquery.js"></script>
  

</body>

</html>