<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../scripts/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Patti Dyason Art</title>
</head>

<body>
    <section class="navigation">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="../index.html">Patti Dyason Art</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./shop.html">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Information</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>


    <section class="title">
        <div class = "container">
            <div class = "row text-center">
                <h1 class = "w-100">Information</h1>
             </div>
        </div>
    </section>

    <section class="contact">
        <div class="container">
            <article>
                <h5><strong>Ordering paintings</strong></h5>
                <p>To order a painting, please email me at <strong>patriciaanndyason@gmail.com</strong>, quoting the painting's
                    catalogue number.</p>

                <p>I will respond as soon as possible to arrange delivery and payment, and to discuss any other
                    requirements
                    you may have.</p>

                <p>This website is not integrated with a payment system and cannot be used to order paintings or pay
                    for them.</p>
            </article>

            <article>
                <h5><strong>Shipping</strong></h5>
                <p>Prices exclude shipping charges.</p>

                <p>Deliveries to South Africa and Namibia are free of shipping. For deliveries outside South Africa and
                    Namibia, I will contact you to agree shipping charges before despach.</p>
            </article>

            <article>
                <h5><strong>Payment</strong></h5>
                <p>Payment in full must be made in advance before delivery, except under special circumstances.</p>

                <p>This website is not integrated with a payment system and cannot be used to order paintings or pay
                    for
                    them.</p>
            </article>

            <article>
                <h5><strong>Prints</strong></h5>
                <p>Prints are generally available in several sizes. However, not all sizes are available for every
                    painting.
                    The website will indicate which sizes are available for your chosen painting.</p>

                <p>In the context of print sizing, the term "Large" is approximately equivalent to A3 in size, and the
                    term
                    "Regular" is approximately equivalent to A4. However, precise dimensions will depend on the
                    proportions
                    of
                    the original work and the availability of print stock, and will be supplied on request.</p>

                <p>Non-standard print sizes may also be available.</p>

                <p>Print volumes are strictly controlled. Each print is numbered, signed and certified by the artist.</p>

                <p>Prints of watercolour paintings are produced on heavy artists' watercolour paper of excellent
                    quality.</p>
            </article>

            <article>
                <h5><strong>Availability</strong></h5>
                <p>I make every effort to ensure that the information on this website is up to date. However I cannot
                    guarantee the availability of any paintings or prints that you have selected.</p>

                <p>Pricing, availability and other information on this website may change at any time without notice.</p>
            </article>

            <article>
                <h5><strong>Contacting me</strong></h5>
                <p>Please email me at <strong>patriciaanndyason@gmail.com</strong> if there is anything I can help you with.</p>
            </article>



        </div>



        <!-- <div class="container">
            <div class="col-6">
                <div>
                    <h1>Get in touch</h1>
                </div>
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="message">Your message</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div> -->
    </section>

    <hr>

    <section class="footer">
        <div class="container">
            <div class="row">
                <p class="copyright text-center w-100">© 2018 Patti Dyason</p>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>