body
{
    background-color: #FFFFF0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.navbar
{
    border-radius: 0px!important;
}

.navbar a
{
    color: black;
}


.header
{
    background-color: royalblue;
    color: white;
}

.center
{
        margin-left: auto;
        margin-right: auto;
        display: block;
       
}

.splash-screen-image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
}

.introduction
{
    
}
