
/* --------------------------- General -------------------------- */


body
{
    background-color: #FFFFF0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar
{
    border-radius: 0px!important;
}

.navbar a
{
    color: black;
}

.header
{
    background-color: royalblue;
    color: white;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.active
{
    font-weight: bold;
}

.line
{
    border-bottom: 1px solid black;
    width: 100%;
}


/* ---------------------------- Home page ------------------------- */

.splash-screen-image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 90vh;
}

.carousel-item > img
{
    margin:auto;
    display: block;
}
    

.carousel-control-prev-icon 
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
       
.carousel-control-next-icon 
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.about-container
{
    max-width: 960px;
}



/* ---------------------------------------- Shop page ---------------------------------- */

.shop-column 
{
    display: none;
}


.show 
{
    display: block;
}

/* style the buttons */
.btn 
{
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}
  
/* add a grey background color on mouse-over */
.btn:hover
{
    background-color: #ddd;
}
  

.gallery-filter
{
    background-color: #FFFFF0;
    border: 1px solid #FFFFF0;
}

.gallery-filter:hover
{
    background-color: #ffffb3;
    border: 1px solid #4d4d00;
}

.gallery-filter:active:hover {
  color: #fff;
  background-color:#999900;
  border-color:  #4d4d00;
}


.gallery-filter:focus, .gallery-filter.focus
{
    outline: none;
    box-shadow: none;
}


.filter-active
{
    background-color: #ffffb3;
    border: 1px solid #4d4d00;
}

 


/* ------------------------------ Painting page ------------------------------- */

.main
{
    position: relative;
    min-height:100%;
}

.painting-details
{
    width: 100%;
    border: 1px solid black;
}

.painting-footer
{
    position: absolute;
    bottom: 0;
    height: 55px;
}




* {
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
}

#container
{
    min-height: 100%;
}

#main
{
    overflow: auto;
    padding-bottom: 50px;
}

#footer
{
    position: relative;
    height: 50px;
    margin-top: -50px;
    clear: both;
}